body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/wall.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    
}

.bg_image{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(1.5px);
}


.wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.gh_form{
    display: flex;
    width: 50vw;
    justify-content: center;
    position: relative;
}

.gh_submit{
    position: absolute;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    right: 0;
    height: 100%;
    background-color: #791e23;
    color: #f2f2f2;
    font-size: 1.5rem;
}

.gh_username{
    width: 100%;
    height: 20%;
    text-align: left;
    padding-left: 10%;
    font-size: 1.5rem;
}

input{
    height: 50px;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 2%;
    text-align: center;
    font-size: 2rem;
    box-shadow:
  0 1.5px 9.9px rgba(0, 0, 0, 0.31),
  0 3.7px 24.9px rgba(0, 0, 0, 0.444),
  0 7.6px 50.9px rgba(0, 0, 0, 0.556),
  0 15.7px 104.8px rgba(0, 0, 0, 0.69),
  0 43px 287px rgba(0, 0, 0, 1);
  position: relative;
  top: 1.5rem;

 

}

input:focus{
    outline: none;
}















.profile_card{
    background-color: rgb(253, 248, 243);
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow:
  0 0.5px 2.9px rgba(179, 179, 179, 0.236),
  0 1.1px 7px rgba(179, 179, 179, 0.339),
  0 2.1px 13.1px rgba(179, 179, 179, 0.42),
  0 3.8px 23.5px rgba(179, 179, 179, 0.501),
  0 7.1px 43.9px rgba(179, 179, 179, 0.604);
  
  opacity: 0;
  padding: 3%;
  transition: opacity 5s linear;
  width: 40vw;

}

.photo_card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    padding-top: 0;
    text-align: center;
}

p{
    width: 100%;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.profile_img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 5px solid rgba(78, 0, 167, 0.3);
    object-fit: cover;
    box-shadow:
  0 0.3px 4px rgba(0, 0, 0, 0.121),
  0 1.1px 13.4px rgba(0, 0, 0, 0.179),
  0 5px 60px rgba(0, 0, 0, 0.3);



}

.info_card{
    display: flex;
    justify-content: space-around;
    text-align: center;
}


.float1, .float2{
    position: absolute;
    opacity: 0;
    transition: opacity 2s linear;
}


.float1{
    right: 3%;
    top: 5%;
    animation: float_git1 2s ease-in-out 1s infinite alternate forwards;
}

a > img{
    width: 20vw
}


.float2{
    left:3%;
    bottom: 20%;
    transform: rotate(-50deg);
    animation: float_git2 2s ease-in-out 1s infinite alternate forwards;
}


h1{
    font-size: 2.5rem;
}



@keyframes float_git1{
    from{
        transform: translateY(0px) ;
    }
    to{
        transform: translateY(20px) ;
    }
}


@keyframes float_git2{
    from{
        transform: translateY(20px) rotate(-55deg);
    }
    to{
        transform: translateY(0px) rotate(-55deg);
    }
}


@media only screen and (max-width: 600px){


    .float1{
        right: 3%;
        top: 35%;
        animation: float_git1 2s ease-in-out 1s infinite alternate forwards;
    }
    .float2{
        left:3%;
        bottom: 40%;
        transform: rotate(-50deg);
        animation: float_git2 2s ease-in-out 1s infinite alternate forwards;
    }

    .gh_username{
        padding-left: 5%;
        font-size: 1.3rem;
    }
    .gh_submit{
        font-size: 1.3rem;
    }



}