body{
    background-color: black;
    text-align: center;
    overflow-y: hidden;
}

svg{
    height: 100vh;
}

.outline-0{
 stroke: #ffffff;
 stroke-width: 2px;
 animation: draw-outline 1.5s linear 0s 1 normal forwards;
}

.outline-1{
    stroke: #ff2077;
    stroke-width: 2px;
    animation: draw-outline 1.2s linear 0.8s 1 normal forwards;

}

.outline-2{
    stroke: #ffffff;
    stroke-width: 2px;
    animation: draw-outline 0.9s linear 1.4s 1 normal forwards;
}

.fill-0{

    animation: fill-white 0.3s linear 1.5s 1 normal forwards;

}


.fill-1{

    animation: fill-pink 0.3s linear 2.2s 1 normal forwards;
    
}


.fill-2{

    animation: fill-white 0.3s linear 2.5s 1 normal forwards;   

}



@keyframes draw-outline{
    from{
        
    }
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill-white{
    from{
        fill: black;
    }
    to{
        fill: #ffffff;
        filter: drop-shadow(0px 0px 10px #ffffff);
    }
}

@keyframes fill-pink{
    from{
        fill: black;
    }
    to{
        fill: #ff2077;
        filter: drop-shadow(0px 0px 25px #ff2077);


    }
}