body{
    background-color: #9c3d54;
    min-width: 100vw;
    min-height: 100vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 5%;
}

nav > li{

    margin: 0.5%;
    background-color: #310b0b;
    opacity: 0.75;
    list-style-type: none;
    padding: 0.5% 1%;
    border-radius: 10px;
    position: relative;
    font-size: 1rem;

}

nav > li > a{
    color: linen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
}

img{
    height: 20%;
    margin-right: 2%;
    border-radius: 10px;
    margin-left: 1%;
    
}

.dynamicContent{
    
    
    position: absolute;
    font-family: monospace;
    font-size: 1.2rem;
    display: flex;
    width: 700%;
    left: -300%;
    top: 150%;
    align-items: center;
    opacity: 0;
    transition: all 0.5s step-start;


}



p{

    line-height: 1.5;

}
.dynamicBackground{
    background-color: #faebdb;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    transform: translateX(-200px);
    justify-content: center;
    display: flex;
    border-radius: 15px;
    transition: all 0.1s ease-in;
}

.arrow{
    content: '';
    position: relative;
    bottom: 10px;
    z-index: -2;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: #faebdb;
    transition: all 0.5s ease-in;
}


/* SERVICES */


.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 270%;
    left: -85%;
    padding: 0;
    opacity: 0;
    margin-top: 0;
}


.services > li{
    list-style-type: none;
    width: 95%;
    padding: 4.5%;
    padding-left: 0;
    border-bottom: 1px solid rgb(189, 188, 188);
}

.services > li > a{
    text-decoration: none;
    color: #310b0b;
    margin-left: 5%;
}



/* CONTACT */

.contact{
    flex-direction: column;
    padding: 0;
    width: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
}

.contact > li{
    list-style-type: none;
    width: 80%;
    height: 0%;
    text-align: center;
    margin: 3%;
    background-color: thistle;
    padding: 8% 0%;
    border-radius: 3px;
}

.contact > li > a{
    text-decoration: none;
    color: #310b0b;
}


/* DYNAMIC STYLES */



.active + div{
    opacity: 1;
}

.active + ul{
    opacity: 1;
}