
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'helvetica neue';
    background-color: rgb(230, 220, 213);
}



.item {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .item:last-child {
    border-bottom: 0;
  }
  
  
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #fb743e;
  }
  input[type="checkbox"] {
    margin: 20px;
  }

  
  
  p,a {
    width: 82%;
    margin: 0;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 200;
    color: #f0edee;
  }
  
  a{
    text-decoration: none;
    font-weight: bold;
  }
  .items-wrapper{
    width: 40vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 7% 0 3%;
    border-bottom: 8px solid #f58153;
    border-top: 8px solid #f58153;
    background-color: #37393b;
    border-radius: 20px;
    padding-top: 1%;
    box-shadow:
    0 0.8px 5.2px rgba(0, 0, 0, 0.124),
    0 2px 13.1px rgba(0, 0, 0, 0.177),
    0 4.1px 26.8px rgba(0, 0, 0, 0.223),
    0 8.4px 55.1px rgba(0, 0, 0, 0.276),
    0 23px 151px rgba(0, 0, 0, 0.4);
  
  }
  footer {
    margin: 2% auto;
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

  }