html {
    background-color: #fb743e;
    background-image: -webkit-linear-gradient(-68deg, #f58153 50%, #fb743e 50%);
    font-family: 'helvetica neue';
  }
  
  
  h1 {
    color: #fff;
    padding: 22px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
  
  .container {
    max-width: 50%;
    margin: 50px auto;
    background: white;
    border-radius: 10px;
    box-shadow:
      0 2.2px 15.5px rgba(0, 0, 0, 0.186),
      0 7.4px 52px rgba(0, 0, 0, 0.274),
      0 33px 233px rgba(0, 0, 0, 0.46)
    ;
  
  
  }
  
  .item-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #f58153;
    background-color: #37393b;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 3.5%;
  }
  
  .formItem{
    display: flex;
    padding: 1% 2%;
    border-radius: 5px;
    background-color: #2e2e2e;
    margin: 0;
    width: 68%;
    border: 1px solid #1c1c1c;
  }
  #heading {
    background-color: #333332;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
  .delete{
    display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f58153;
      width: 7.5%;
      border-radius: 50%
  }
  i{
    color: white;
  }
  
  .item {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
  }
  
  
  .item:last-child {
    border-bottom: 0;
  }
  
  input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #fb743e;
  }
  
  input[type="checkbox"] {
    margin: 20px;
  }
  
  p {
    width: 82%;
    margin: 0;
    padding: 20px 0px;
    font-size: 20px;
    font-weight: 200;
    color: #f0edee;
  }
  
  form {
    text-align: center;
  }
  
input[type = submit]{
    width: 35px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fb743e;
    color: #fff;
    font-size: 30px;
    border-width: 0;
    outline: none;
  }
  
  input[type="text"] {
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 200;
    width: 75%;
    color: #f0ffff;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #fb743e;
  }
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

  }
  
  .items-wrapper{
      width: 75%;
  }